<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
	<level>0</level>
	<category label="90001">
		<setting id="tutorial" type="bool" label="59924" default="false"/>
		<setting label="90002" type="action" action="RunScript($CWD/help.py,help)" />
		<setting label="30913" type="action" action="RunScript($CWD/internal.py,internal)" />
		<setting label="90003" type="action" action="RunScript($CWD/readme.py,readme)" />
		<setting label="90004" type="action" action="RunScript($CWD/credits.py,credits)" />
	</category>
	<category label="55007">	
		<setting type="sep"/>
		<setting label="59920" type="lsep"/>
		<setting id="cmore_enabled" type="bool" label="59904" default="false"/>
		<setting id="cmore_locale" type="select" label="30368" default="cmore.se" values="cmore.se|cmore.dk|cmore.no" visible="eq(-1,true)"/>
		<setting id="cmore_tv_provider_login" type="bool" label="30369" default="false" visible="eq(-2,true)"/>
		<setting id="cmore_username" type="text" label="55002" default="" visible="eq(-3,true) + eq(-1,false)"/>
		<setting id="cmore_password" type="text" option="hidden" label="55003" default="" visible="eq(-4,true) + eq(-2,false)"/>
		<setting id="priority_cmore" label="55009" type="enum" default="6" lvalues="55010|55011|55017|55012|55018|55013|55019|55014|55020|55021|55022|55023" visible="eq(-5,true)"/>
		<setting label="30371" type="action" action="RunScript($CWD/clearcmore.py, clearCMore)" visible="eq(-6,true)"/>
		
		<!--<setting type="sep"/>
		<setting label="59922" type="lsep"/>
		<setting id="francetv_enabled" type="bool" label="59904" default="false"/>
		<setting id="priority_francetv" label="55009" type="enum" default="6" lvalues="55010|55011|55017|55012|55018|55013|55019|55014|55020|55021|55022|55023" visible="eq(-1,true)"/>-->
		
		<setting type="sep"/>
		<setting label="80006" type="lsep"/>
		<setting id="ipla_enabled" type="bool" label="59904" default="false"/>
		<setting id="ipla_username" type="text" label="55002" default="" visible="eq(-1,true)"/>
		<setting id="ipla_password" type="text" option="hidden" label="55003" default="" visible="eq(-2,true)"/>
		<setting id="ipla_client" type="select" label="30368" default="Ipla" values="Ipla|Cyfrowy Polsat" visible="eq(-3,true)"/>
		<setting id="priority_ipla" label="55009" type="enum" default="6" lvalues="55010|55011|55017|55012|55018|55013|55019|55014|55020|55021|55022|55023" visible="eq(-4,true)"/>
		<setting id="ipla_device_id" visible="false"/>
		<setting id="ipla_client_id" visible="false"/>
		<setting id="ipla_id_" visible="false"/>
		<setting id="ipla_sesstoken" visible="false"/>
		<setting id="ipla_sessexpir" visible="false"/>
		<setting id="ipla_sesskey" visible="false"/>
		<setting id="ipla_myperm" visible="false"/>
		
		<setting type="sep"/>
		<setting label="59923" type="lsep"/>
		<setting id="ncplusgo_enabled" type="bool" label="59904" default="false"/>
		<setting id="ncplusgo_username" type="text" label="55002" default="" visible="eq(-1,true)"/>
		<setting id="ncplusgo_password" type="text" option="hidden" label="55003" default="" visible="eq(-2,true)"/>
		<setting id="priority_ncplusgo" label="55009" type="enum" default="6" lvalues="55010|55011|55017|55012|55018|55013|55019|55014|55020|55021|55022|55023" visible="eq(-3,true)"/>
		<setting id="ncplusgo_imei" visible="false"/>
		<setting id="ncplusgo_ftimenow" visible="false"/>
		<setting id="ncplusgo_dev2repl" visible="false"/>
		<setting id="ncplusgo_ncToken" visible="false"/>
		
		<setting type="sep"/>
		<setting label="30903" type="lsep"/>
		<setting id="playerpl_enabled" type="bool" label="59904" default="false"/>
		<setting id="playerpl_subtitles" type="bool" label="30760" default="true" visible="eq(-1,true)"/>
		<setting id="priority_playerpl" label="55009" type="enum" default="6" lvalues="55010|55011|55017|55012|55018|55013|55019|55014|55020|55021|55022|55023" visible="eq(-2,true)"/>
		<setting label="30371" type="action" action="RunScript($CWD/clearplayerpl.py, clearPlayerPL)" visible="eq(-3,true)"/>
		<setting id="playerpl_access_token" visible="false"/>
		<setting id="playerpl_user_pub" visible="false"/>
		<setting id="playerpl_user_hash" visible="false"/>
		<setting id="playerpl_refresh_token" visible="false"/>
		<setting id="playerpl_device_id" visible="false"/>
		<setting id="playerpl_token" visible="false"/>
		<setting id="playerpl_maker_id" visible="false"/>
		<setting id="playerpl_usagent_id" visible="false"/>
		<setting id="playerpl_usagentver_id" visible="false"/>
		<setting id="playerpl_selected_profile" visible="false"/>
		<setting id="playerpl_selected_profile_id" visible="false"/>
		<setting id="playerpl_logged" visible="false"/>
		
		<setting type="sep"/>
		<setting label="80008" type="lsep"/>
		<setting id="polsatgo_enabled" type="bool" label="59904" default="false"/>
		<setting id="polsatgo_username" type="text" label="55002" default="" visible="eq(-1,true)"/>
		<setting id="polsatgo_password" type="text" option="hidden" label="55003" default="" visible="eq(-2,true)"/>
		<setting id="priority_polsatgo" label="55009" type="enum" default="6" lvalues="55010|55011|55017|55012|55018|55013|55019|55014|55020|55021|55022|55023" visible="eq(-3,true)"/>
		
		<setting type="sep"/>
		<setting label="59921" type="lsep"/>
		<setting id="pgobox_enabled" type="bool" label="59904" default="false"/>
		<setting id="pgobox_username" type="text" label="55002" default="" visible="eq(-1,true)"/>
		<setting id="pgobox_password" type="text" option="hidden" label="55003" default="" visible="eq(-2,true)"/>
		<setting id="pgobox_client" type="select" label="30368" default="Polsat Box" values="Cyfrowy Polsat|Ipla|Polsat Box" visible="eq(-3,true)"/>
		<setting id="priority_ipla" label="55009" type="enum" default="6" lvalues="55010|55011|55017|55012|55018|55013|55019|55014|55020|55021|55022|55023" visible="eq(-4,true)"/>
		<setting id="pgobox_device_id" visible="false"/>
		<setting id="pgobox_client_id" visible="false"/>
		<setting id="pgobox_id_" visible="false"/>
		<setting id="pgobox_sesstoken" visible="false"/>
		<setting id="pgobox_sessexpir" visible="false"/>
		<setting id="pgobox_sesskey" visible="false"/>
		<setting id="pgobox_myperm" visible="false"/>
		
		<setting type="sep"/>
		<setting label="30904" type="lsep"/>
		<setting id="teliaplay_enabled" type="bool" label="59904" default="false"/>
		<setting id="teliaplay_locale" type="select" label="30368" default="0" lvalues="57056|57057" visible="eq(-1,true)"/>
		<setting id="teliaplay_username" type="text" label="55002" default="" visible="eq(-2,true)"/>
		<setting id="teliaplay_password" type="text" option="hidden" label="55003" default="" visible="eq(-3,true)"/>
		<setting id="priority_teliaplay" label="55009" type="enum" default="6" lvalues="55010|55011|55017|55012|55018|55013|55019|55014|55020|55021|55022|55023" visible="eq(-4,true)"/>
		<setting label="30371" type="action" action="RunScript($CWD/clearteliaplay.py, clearTeliaPlay)" visible="eq(-5,true)"/>
		<setting id="teliaplay_sess_id" visible="false"/>
		<setting id="teliaplay_devush" visible="false"/>
		<setting id="teliaplay_beartoken" visible="false"/>
		<setting id="teliaplay_refrtoken" visible="false"/>
		<setting id="teliaplay_cookies" visible="false"/>
		<setting id="teliaplay_usern" visible="false"/>
		
		<setting type="sep"/>
		<setting label="80007" type="lsep"/>
		<setting id="tvp_enabled" type="bool" label="59904" default="false"/>
		<setting id="priority_tvp" label="55009" type="enum" default="6" lvalues="55010|55011|55017|55012|55018|55013|55019|55014|55020|55021|55022|55023" visible="eq(-1,true)"/>
		
		<setting type="sep"/>
		<setting label="80005" type="lsep"/>
		<setting id="videostar_enabled" type="bool" label="59904" default="false"/>
		<setting id="videostar_username" type="text" label="55002" default="" visible="eq(-1,true)"/>
		<setting id="videostar_password" type="text" option="hidden" label="55003" default="" visible="eq(-2,true)"/>
		<setting id="videostar_netviapisessid" type="text" label="69066" default="" visible="eq(-3,true)"/>
		<setting id="videostar_netviapisessval" type="text" label="69067" default="" visible="eq(-4,true)"/>
		<setting id="videostar_remote_cookies" type="text" label="69068" default="" visible="eq(-5,true)"/>
		<setting id="priority_videostar" label="55009" type="enum" default="6" lvalues="55010|55011|55017|55012|55018|55013|55019|55014|55020|55021|55022|55023" visible="eq(-6,true)"/>
	</category>
	
	<category label="59905">
		<setting id="nr_of_playlists" label="59916" type="labelenum" default="0" values="0|1|2|3|4|5"/>
		
		<setting type="sep" visible="gt(-1,0)"/>
		<setting label="59911" type="lsep" visible="gt(-2,0)"/>
		<setting id="playlist_1_enabled" type="bool" label="59904" default="false" visible="gt(-3,0)"/>
		<setting id="playlist_1_display_name" label="59914" type="text" default="Playlist_1" visible="eq(-1,true) + gt(-4,0)"/>
		<setting id="playlist_1_refr" type="bool" label="60008" default="false" visible="eq(2,0) + eq(-2,true) + gt(-5,0)"/>
		<setting id="playlist_1_refr_days" label="60009" type="slider" default="7" range="0,30" option="int" visible="eq(1,0) + eq(-1,true) + eq(-3,true) + gt(-6,0)"/>
		<setting id="playlist_1_source" label="59907" type="enum" default="0" lvalues="59919|59908" visible="eq(-4,true) + gt(-7,0)"/>
		<setting id="playlist_1_url" label="59906" type="text" visible="eq(-1,0) + eq(-5,true) + gt(-8,0)" default=""/>
		<setting id="playlist_1_file" label="59908" type="file" visible="eq(-2,1) + eq(-6,true) + gt(-9,0)" default=""/>
		<setting id="playlist_1_user_agent" label="55001" type="text" visible="eq(-7,true) + gt(-10,0)" default=""/>
		<setting id="playlist_1_stop_when_starting" type="bool" label="30974" default="false" visible="eq(-8,true) + gt(-11,0)"/>
		<setting id="playlist_1_high_prio_hd" type="bool" label="30975" default="true" visible="eq(-9,true) + gt(-12,0)"/>
		<setting id="playlist_1_priority" label="55009" type="enum" default="6" lvalues="55010|55011|55017|55012|55018|55013|55019|55014|55020|55021|55022|55023" visible="eq(-10,true) + gt(-13,0)"/>
    
		<setting type="sep" visible="gt(-14,1)"/>
		<setting label="59912" type="lsep" visible="gt(-15,1)"/>
		<setting id="playlist_2_enabled" type="bool" label="59904" default="false" visible="gt(-16,0)"/>
		<setting id="playlist_2_display_name" label="59914" type="text" default="Playlist_2" visible="eq(-1,true) + gt(-17,0)"/>
		<setting id="playlist_2_refr" type="bool" label="60008" default="false" visible="eq(2,0) + eq(-2,true) + gt(-18,0)"/>
		<setting id="playlist_2_refr_days" label="60009" type="slider" default="7" range="0,30" option="int" visible="eq(1,0) + eq(-1,true) + eq(-3,true) + gt(-19,0)"/>
		<setting id="playlist_2_source" label="59907" type="enum" default="0" lvalues="59919|59908" visible="eq(-4,true) + gt(-20,0)"/>
		<setting id="playlist_2_url" label="59906" type="text" visible="eq(-1,0) + eq(-5,true) + gt(-21,0)" default=""/>
		<setting id="playlist_2_file" label="59908" type="file" visible="eq(-2,1) + eq(-6,true) + gt(-22,0)" default=""/>
		<setting id="playlist_2_user_agent" label="55001" type="text" visible="eq(-7,true) + gt(-23,0)" default=""/>
		<setting id="playlist_2_stop_when_starting" type="bool" label="30974" default="false" visible="eq(-8,true) + gt(-24,0)"/>
		<setting id="playlist_2_high_prio_hd" type="bool" label="30975" default="true" visible="eq(-9,true) + gt(-25,0)"/>
		<setting id="playlist_2_priority" label="55009" type="enum" default="6" lvalues="55010|55011|55017|55012|55018|55013|55019|55014|55020|55021|55022|55023" visible="eq(-10,true) + gt(-26,0)"/>

		<setting type="sep" visible="gt(-27,2)"/>
		<setting label="59913" type="lsep" visible="gt(-28,2)"/>
		<setting id="playlist_3_enabled" type="bool" label="59904" default="false" visible="gt(-29,0)"/>
		<setting id="playlist_3_display_name" label="59914" type="text" default="Playlist_3" visible="eq(-1,true) + gt(-30,0)"/>
		<setting id="playlist_3_refr" type="bool" label="60008" default="false" visible="eq(2,0) + eq(-2,true) + gt(-31,0)"/>
		<setting id="playlist_3_refr_days" label="60009" type="slider" default="7" range="0,30" option="int" visible="eq(1,0) + eq(-1,true) + eq(-3,true) + gt(-32,0)"/>
		<setting id="playlist_3_source" label="59907" type="enum" default="0" lvalues="59919|59908" visible="eq(-4,true) + gt(-33,0)"/>
		<setting id="playlist_3_url" label="59906" type="text" visible="eq(-1,0) + eq(-5,true) + gt(-34,0)" default=""/>
		<setting id="playlist_3_file" label="59908" type="file" visible="eq(-2,1) + eq(-6,true) + gt(-35,0)" default=""/>
		<setting id="playlist_3_user_agent" label="55001" type="text" visible="eq(-7,true) + gt(-36,0)" default=""/>
		<setting id="playlist_3_stop_when_starting" type="bool" label="30974" default="false" visible="eq(-8,true) + gt(-37,0)"/>
		<setting id="playlist_3_high_prio_hd" type="bool" label="30975" default="true" visible="eq(-9,true) + gt(-38,0)"/>
		<setting id="playlist_3_priority" label="55009" type="enum" default="6" lvalues="55010|55011|55017|55012|55018|55013|55019|55014|55020|55021|55022|55023" visible="eq(-10,true) + gt(-39,0)"/>
		
		<setting type="sep" visible="gt(-40,3)"/>
		<setting label="59917" type="lsep" visible="gt(-41,3)"/>
		<setting id="playlist_4_enabled" type="bool" label="59904" default="false" visible="gt(-42,0)"/>
		<setting id="playlist_4_display_name" label="59914" type="text" default="Playlist_4" visible="eq(-1,true) + gt(-43,0)"/>
		<setting id="playlist_4_refr" type="bool" label="60008" default="false" visible="eq(2,0) + eq(-2,true) + gt(-44,0)"/>
		<setting id="playlist_4_refr_days" label="60009" type="slider" default="7" range="0,30" option="int" visible="eq(1,0) + eq(-1,true) + eq(-3,true) + gt(-45,0)"/>
		<setting id="playlist_4_source" label="59907" type="enum" default="0" lvalues="59919|59908" visible="eq(-4,true) + gt(-46,0)"/>
		<setting id="playlist_4_url" label="59906" type="text" visible="eq(-1,0) + eq(-5,true) + gt(-47,0)" default=""/>
		<setting id="playlist_4_file" label="59908" type="file" visible="eq(-2,1) + eq(-6,true) + gt(-48,0)" default=""/>
		<setting id="playlist_4_user_agent" label="55001" type="text" visible="eq(-7,true) + gt(-49,0)" default=""/>
		<setting id="playlist_4_stop_when_starting" type="bool" label="30974" default="false" visible="eq(-8,true) + gt(-50,0)"/>
		<setting id="playlist_4_high_prio_hd" type="bool" label="30975" default="true" visible="eq(-9,true) + gt(-51,0)"/>
		<setting id="playlist_4_priority" label="55009" type="enum" default="6" lvalues="55010|55011|55017|55012|55018|55013|55019|55014|55020|55021|55022|55023" visible="eq(-10,true) + gt(-52,0)"/>
		
		<setting type="sep" visible="gt(-53,4)"/>
		<setting label="59918" type="lsep" visible="gt(-54,4)"/>
		<setting id="playlist_5_enabled" type="bool" label="59904" default="false" visible="gt(-55,0)"/>
		<setting id="playlist_5_display_name" label="59914" type="text" default="Playlist_5" visible="eq(-1,true) + gt(-56,0)"/>
		<setting id="playlist_5_refr" type="bool" label="60008" default="false" visible="eq(2,0) + eq(-2,true) + gt(-57,0)"/>
		<setting id="playlist_5_refr_days" label="60009" type="slider" default="7" range="0,30" option="int" visible="eq(1,0) + eq(-1,true) + eq(-3,true) + gt(-58,0)"/>
		<setting id="playlist_5_source" label="59907" type="enum" default="0" lvalues="59919|59908" visible="eq(-4,true) + gt(-59,0)"/>
		<setting id="playlist_5_url" label="59906" type="text" visible="eq(-1,0) + eq(-5,true) + gt(-60,0)" default=""/>
		<setting id="playlist_5_file" label="59908" type="file" visible="eq(-2,1) + eq(-6,true) + gt(-61,0)" default=""/>
		<setting id="playlist_5_user_agent" label="55001" type="text" visible="eq(-7,true) + gt(-62,0)" default=""/>
		<setting id="playlist_5_stop_when_starting" type="bool" label="30974" default="false" visible="eq(-8,true) + gt(-63,0)"/>
		<setting id="playlist_5_high_prio_hd" type="bool" label="30975" default="true" visible="eq(-9,true) + gt(-64,0)"/>
		<setting id="playlist_5_priority" label="55009" type="enum" default="6" lvalues="55010|55011|55017|55012|55018|55013|55019|55014|55020|55021|55022|55023" visible="eq(-10,true) + gt(-65,0)"/>
	</category>

	<category label="30101">
		<setting label="30101" type="lsep"/>
		<setting id="source" label="30701" type="enum" default="1" lvalues="59908|59919"/>
		<setting id="countryFileChannels" label="30740" action="RunScript($CWD/settingsImportExport.py, CountryFile)" option="close" type="action" default="" visible="eq(-1,0)"/>
		<setting id="countryUrlChannels" label="30740" action="RunScript($CWD/settingsImportExport.py, CountryUrl)" option="close" type="action" default="" visible="eq(-2,1)"/>
		<setting type="sep" visible="eq(-3,0) | eq(-3,1)"/>
		<setting id="AutoUpdateCid" label="30703" type="bool" default="true" visible="eq(-4,0) | eq(-4,1)"/>
		<setting id="OnlyChannelsWithStream" label="30705" type="bool" default="true" visible="eq(-5,0) | eq(-5,1)"/>
		<setting id="UpdateEPGOnModifiedDate" label="30706" type="bool" default="true" visible="eq(-6,0) | eq(-6,1)"/>
		<setting id="epg_display_name" label="30761" type="bool" default="false" visible="eq(-7,0) | eq(-7,1)"/>
		<setting id="append_country_code" label="30763" type="text" default="" visible="eq(-1,true)"/>
		<setting id="show_group_channels" label="30762" type="bool" default="false" visible="eq(-9,0) | eq(-9,1)"/>
		<setting id="useCustomParser" label="30708" type="bool" default="true" visible="eq(-10,1)"/>
		<setting id="refresh_streams" label="30976" type="bool" default="true" visible="eq(-11,0) | eq(-11,1)"/>
		<setting id="show_logo" label="30355" type="bool" default="true" visible="eq(-12,0) | eq(-12,1)"/>
		<setting id="show_program_logo" label="30364" type="bool" default="true" visible="eq(-13,0) | eq(-13,1)"/>
		<setting type="sep" visible="eq(-14,0) | eq(-14,1)"/>
		<setting label="30101" type="lsep" visible="eq(-15,0) | eq(-15,1)"/>
		<setting type="sep" visible="eq(-16,0) | eq(-16,1)"/>
		<setting label="30111" type="lsep" visible="eq(-17,0) | eq(-17,1)"/>
		<setting id="xmltv_file" label="30103" type="file" visible="eq(-18,0)"/>
		<setting id="xmltv_logo_folder" label="30116" type="folder" visible="eq(-19,0)"/>
		<setting id="m-TVGuide" label="30118" type="text" visible="eq(-20,1)" default=""/>
		<setting id="m-TVGuide2" label="30119" type="text" visible="eq(-21,1)" default=""/>
		<setting id="m-TVGuide3" label="30120" type="text" visible="eq(-22,1)" default=""/>
		<setting type="sep" visible="eq(-23,0) | eq(-23,1) + eq(-1,false)"/>
		<setting label="30741" type="lsep" visible="lt(-24,2)"/>
		<setting id="showAdultChannels" label="30715" action="RunScript($CWD/settingsImportExport.py, Adult)" option="close" type="action" default="" visible="lt(-25,2)"/>
		<setting label="30746" type="lsep" visible="lt(-26,2)"/>
		<setting id="showVodChannels" label="30745" action="RunScript($CWD/settingsImportExport.py, Vod)" option="close" type="action" default="" visible="lt(-27,2)"/>
		<setting type="sep" visible="lt(-28,2)"/>
		<setting label="30742" type="lsep" visible="lt(-29,2)"/>
		<setting type="sep" visible="lt(-30,2)"/>
		<setting label="30365" type="lsep" visible="lt(-31,2)"/>
		<setting id="time_zone" label="30911" type="labelenum" default="+01:00" values="-12:00|-11:00|-10:00|-09:30|-09:00|-08:00|-07:00|-06:00|-05:00|-04:30|-04:00|-03:30|-03:00|-02:00|-01:00|00:00|+01:00|+02:00|+03:00|+03:30|+04:00|+04:30|+05:00|+05:30|+05:45|+06:00|+06:30|+07:00|+08:00|+09:00|+09:30|+10:00|+10:30|+11:00|+11:30|+12:00|+12:45|+13:00|+14:00|" visible="lt(-32,2)"/>
		<setting id="country_code_be" default="false" visible="false"/>
		<setting id="country_code_cz" default="false" visible="false"/>
		<setting id="country_code_de" default="false" visible="false"/>
		<setting id="country_code_dk" default="false" visible="false"/>
		<setting id="country_code_fr" default="false" visible="false"/>
		<setting id="country_code_hr" default="false" visible="false"/>
		<setting id="country_code_it" default="false" visible="false"/>
		<setting id="country_code_no" default="false" visible="false"/>
		<setting id="country_code_pl" default="true" visible="false"/>
		<setting id="country_code_se" default="false" visible="false"/>
		<setting id="country_code_srb" default="false" visible="false"/>
		<setting id="country_code_uk" default="false" visible="false"/>
		<setting id="country_code_us" default="false" visible="false"/>
		<setting id="country_code_radio" default="false" visible="false"/>
	</category>
	<category label="30913">
		<setting id="autostart_mtvguide" label="30915" type="bool" default="false"/>
		<setting label="70026" type="lsep"/>
		<setting id="background_services" label="30922" type="bool" default="false"/>
		<setting type="sep"/>
		<setting id="autostart_channel" label="30919" type="bool" default="false"/>
		<setting id="autostart_channel_last" label="30921" type="bool" default="true" visible="eq(-1,true)"/>
		<setting id="autostart_channel_number" label="30920" type="number" default="1" visible="eq(-1,false) + eq(-2,true)"/>
		<setting type="sep"/>
		<setting id="timebar_adjust" label="30366" type="slider" default="0" option="int" range="-31,30"/>
		<setting id="notifications_enabled" label="30106" type="bool" default="true"/>
		<setting id="sleep__enabled" type="bool" label="89001" default="false"/>
		<setting id="sleep_timer" type="number" label="89003" default="90" visible="eq(-1,true)"/>
		<setting id="sleep__action" type="enum" label="89002" default="0" lvalues="89004|89005|89006|89007" visible="eq(-2,true)"/>
		<setting id="touch_panel" label="30910" type="bool" default="false"/>
		<setting id="categories_remember" label="30993" type="bool" visible="true" default="true" />
		<setting label="31002" type="action" action="RunScript($CWD/setkey.py)"/>
		<setting id="info_key" visible="false"/>
		<setting id="stop_key" visible="false"/>
		<setting id="pp_key" visible="false"/>
		<setting id="pm_key" visible="false"/>
		<setting id="volume_up_key" visible="false"/>
		<setting id="volume_down_key" visible="false"/>
		<setting id="home_key" visible="false"/>
		<setting id="context_key" visible="false"/>
		<setting id="record_key" visible="false"/>
		<setting id="list_key" visible="false"/>
		<setting id="switch_to_last_key" visible="false"/>
		<setting type="sep"/>
		<setting label="30347" type="lsep"/>
		<setting id="channel_shortcut" label="30348" type="bool" default="true"/>
        <setting id="channel_shortcut_behaviour" label="30349" visible="eq(-1,true)" type="enum" default="0" lvalues="30350|30352" />
		<setting type="sep"/>
		<setting label="30963" type="lsep"/>
		<setting id="exit" label="30963" type="enum" default="1" lvalues="30982|30983" visible="eq(-31,false)"/>
	</category>
	<category label="69040">
		<setting id="max_connection_time" label="30958" type="number" default="25"/>
		<setting id="reconnect_stream" label="30960" type="bool" default="true"/>
		<setting id="max_reconnect_attempts" label="30961" type="slider" default="5" range="1,50" option="int" visible="eq(-1,true)"/>
		<setting id="reconnect_delay" label="30962" type="slider" default="300" range="0,3000" option="int" visible="eq(-2,true)"/>
		<setting id="max_wait_for_playback" label="30977" type="slider" default="8" range="8,60" option="int"/>
		<setting id="navi_back_stop_play" label="310011" type="bool" default="false"/>
		<setting type="sep"/>
		<setting label="30367" type="lsep"/>
		<setting id="start_video_minimalized" label="30917" type="bool" default="true"/>
		<setting type="sep"/>
		<setting label="30205" type="lsep"/>
		<setting id="info_osd" label="31001" type="bool" default="true"/>
		<setting id="osd_time" label="69045" type="slider" default="25" range="1,50" option="int" visible="eq(-1,true)"/>
		<setting id="VidOSD_on_select" label="30918" type="bool" default="true" visible="eq(-2,true) + true"/>
		<setting id="show_osd_buttons" label="69042" type="bool" default="true" visible="eq(-3,true) + eq(-1,true)"/>
		<setting id="key_right_left_show_next" label="69041" type="bool" default="false" visible="eq(-4,true) + eq(-1,false)"/>
		<setting id="show_osd_on_play" label="69043" type="bool" default="true" visible="eq(-5,true)"/>
		<setting id="osd_on_play_time" label="69044" type="slider" default="3" range="1,50" option="int" visible="eq(-6,true) + eq(-1,true)"/>
		<setting id="osd_on_stream_change" label="69046" type="bool" default="false" visible="eq(-7,true) + eq(-2,true)"/>
		<setting id="show_service_name" label="69047" type="bool" default="true" visible="eq(-8,true)"/>
		<setting type="sep" visible="eq(-9,true)"/>
		<setting label="69048" type="lsep" visible="eq(-10,true)"/>
		<setting id="show_time" label="30206" type="bool" default="false" />
		<setting id="show_time_pos" label="69049" type="enum" default="0" lvalues="69050|69051|69052|69053" visible="eq(-1,true)"/>
		<setting id="show_time_size" label="69054" type="slider" default="1" range="1,3" option="int" visible="eq(-2,true)"/>
	</category>
	<category label="30916">
		<setting label="69035" type="action" action="RunScript($CWD/logUploader.py, primary)"/>
		<setting label="30108" type="action" action="RunScript($CWD/notification.py)"/>
		<setting label="30109" type="action" action="RunScript($CWD/cleardb.py, clearRecordings)"/>
		<setting type="sep"/>
		<setting label="30953" type="action" action="RunScript($CWD/settingsImportExport.py, Export)"/>
		<setting label="30954" type="action" option="close" action="RunScript($CWD/settingsImportExport.py, Import)"/>
		<setting type="sep"/>
		<setting label="30980" type="lsep"/>
		<setting type="lsep"/>
		<setting label="30952" type="action" action="RunScript($CWD/cleardb.py, clearCustom)"/>
		<setting label="30950" type="action" action="RunScript($CWD/cleardb.py, clearAll)"/>
		<setting label="30955" type="action" action="RunScript($CWD/cleardb.py, deleteDb59908)"/>
		<setting label="30973" type="action" option="close" action="RunScript($CWD/cleardb.py, deleteAll)"/>
	</category>
	<category label="69000">
		<setting label="69032" type="lsep"/>
		<setting id="download_record_app" label="69017" type="action" option="close" value="" action="RunScript($CWD/settingsImportExport.py, DownloadRecordAppFromModsKodi)"/>
		<setting type="sep"/>
		<setting id="record_folder" label="69003" type="folder" value="" option="writeable"/>
		<setting id="use_only_ffmpeg" label="69016" type="bool" default="false"/>
		<setting id="rtmpdumpExe" label="69001" type="action" option="close" value="" action="RunScript($CWD/settingsImportExport.py, ImportRecordApp)" visible="eq(-1,false)"/>
		<setting id="ffmpegExe" label="69002" type="action" option="close" value="" action="RunScript($CWD/settingsImportExport.py, ImportRecordApp)"/>
		<setting type="sep"/>
		<setting id="record_stop_playback" label="69038" type="bool" default="false"/>
		<setting id="max_reattempts" label="69024" type="number" default="5"/>
		<setting id="ask_to_delete_watched" label="69025" type="enum" default="1" lvalues="69028|69029|69030"/>
	</category>
	<category label="59976">
		<setting id="archive_support" label="59978" type="bool" default="false" />
		<setting id="archive_type" label="59989" type="enum" default="0" lvalues="70007|59990|59996|59999|30720" visible="eq(-1,true)"/>
		<setting id="archive_string" label="59977" type="text" default="?utc={utc}&amp;lutc={lutc}" visible="eq(-2,true) + eq(-1,1)" />
		<setting id="archive_reverse_auto" label="60002" type="enum" default="0" lvalues="60000|60001" visible="eq(-3,true)"/>
		<setting id="archive_reverse_days" visible="false"/>
		<setting id="archive_manual_days" label="59988" type="slider" default="1" range="1,30" option="int" visible="eq(-5,true) + eq(-2,1)"/>
		<setting label="59983" type="lsep" visible="eq(-6,true)"/>
		<setting id="archive_finished_program" label="59984" type="bool" default="true" visible="eq(-7,true)"/>
	</category>
	<category label="30309">
		<setting id="listing_pre_days" label="30340" type="slider" default="1" range="1,14" option="int" visible="true"/>
        <setting id="listing_days" label="30339" type="slider" default="3" range="1,7" option="int" visible="true"/>
        <setting id="listing_sort_time" label="30341" type="bool" default="true" />
		<setting id="program_search_plot" label="30342" type="bool" default="false" />
	</category>
	<category label="30702">
		<setting id="Skin" label="30914" type="action" action="RunScript($CWD/skins.py, SelectSkin)" default="skin.default"/>
		<setting id="skin_fontpack" label="70105" type="bool" default="true" />
		<setting label="30714" type="action" action="RunScript($CWD/skins.py, DeleteSkins)"/>
	</category>
	<category label="30930">
		<setting label="30931" type="lsep"/>
		<setting id="color_movies" label="30932" type="select" default="8" lvalues="70008|70009|70010|70011|70012|70013|70014|70015|70007"/>
		<setting id="color_series" label="30933" type="select" default="8" lvalues="70008|70009|70010|70011|70012|70013|70014|70015|70007"/>
		<setting id="color_information" label="30934" type="select" default="8" lvalues="70008|70009|70010|70011|70012|70013|70014|70015|70007"/>
		<setting id="color_entertainment" label="30935" type="select" default="8" lvalues="70008|70009|70010|70011|70012|70013|70014|70015|70007"/>
		<setting id="color_documents" label="30936" type="select" default="8" lvalues="70008|70009|70010|70011|70012|70013|70014|70015|70007"/>
		<setting id="color_kids" label="30937" type="select" default="8" lvalues="70008|70009|70010|70011|70012|70013|70014|70015|70007"/>
		<setting id="color_sports" label="30938" type="select" default="8" lvalues="70008|70009|70010|70011|70012|70013|70014|70015|70007"/>
		<setting id="color_interactive" label="30939" type="select" default="8" lvalues="70008|70009|70010|70011|70012|70013|70014|70015|70007"/>
		<setting type="sep"/>
		<setting label="30940" type="lsep"/>
		<setting id="color_background" label="30941" type="select" default="0" lvalues="70007"/>
		<setting id="color_focus" label="30942" type="select" default="0" lvalues="70016|70019|70020|70021|70022"/>
		<setting id="color_notifications" label="30943" type="select" default="0" lvalues="70017|70019|70020|70021"/>
		<setting id="color_recordings" label="30944" type="select" default="0" lvalues="70018|70019|70020|70021"/>
	</category>
	<category label="30901">
		<setting label="30902" type="action" action="UpdateAddonRepos"/>
	</category>
</settings>
